/* Colors

White:  rgba(245,243,242,1);
Black:  rgba(53,48,47,1);
Red:    rgba(189,54,19,1);
Grey:   rgba(113,107,105,1);
Light:  rgba(208,199,198,1);

*/

body {

    font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", "Adobe Garamond Pro", serif;
    font-size: 18px;
	line-height: 32px;
	text-align: center;
	
	color: rgba(53,48,47,1);
    background-color: rgba(245,243,242,1);

	margin: 0px;
	padding: 0px;
	
}

a {

	color: rgba(53,48,47,1);
	text-decoration: none;
    border-bottom: solid 1px rgba(208,199,198,1);

}

a:active,
a:hover {

	color: rgba(189,54,19,1);  
    border-bottom: solid 1px rgba(189,54,19,1);	    

}

#canvas {

    display: block;
	text-align: left;

    width: 992px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}

#canvas > header {

	width: 928px;
	height: 96px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
    float: left;

}

#canvas > header > #logo-canvas {
	
	width: 64px;
	height: 64px;
	
/* 
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 208px;
	margin-top: 0px;
	
	padding-top: 32px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
    
    float: left;
 */
}

#canvas > header > a {

    color: rgba(189,54,19,1);
    text-decoration: none;
    border-bottom: none;
    
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 208px;
	margin-top: 0px;
	
	padding-top: 32px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
    
    float: left;

}

/* 
#canvas > header > a:hover,
#canvas > header > a:active {

    border-bottom: solid 1px;

}
 */

#canvas > header > h1 {

    text-transform: uppercase;
/*     font-family: "Symbol"; */
/*     font-family: "Apple Symbols"; */
/*     font-family: "Nanum Pen Script"; */
    font-family: "AppleMyungjo Regular";
    font-size: 48px;
	line-height: 64px;
	
	width: 272px;
	
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
	padding-top: 32px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;

    color: rgba(163,155,153,1);
    
    float: left;
}

#canvas > header > h1 a {

    color: rgba(189,54,19,1);
    text-decoration: none;
    border-bottom: none;

}

#canvas > header > h1 a:hover,
#canvas > header > h1 a:active {

    color: rgba(189,54,19,1);
    text-decoration: none;
    border-bottom: solid 1px;

}

nav {

 	width: 608px;
	float: left;

    color: rgba(208,199,198,1);
    
    font-family: "Goudy Bookletter 1911";
    font-style: normal;
    font-size: 16px;

    letter-spacing: 1px;

	margin-top: 16px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 0px;
	
    padding-top: 32px;
	padding-bottom: 16px;
	padding-left: 0px;
	padding-right: 0px;

}

nav ul {

    list-style: none;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
 
    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
	float: left;
    
}

nav ul li > a {
    
    color: rgba(113,107,105,1);

    border-bottom: solid 0px;

}

nav ul li > a:hover {

}

nav ul li {
    
    float: left;
    
    width: 104px;
    
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 40px;
 
    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;

}

nav ul li.last-li {

    margin-right: 0px;

}

nav ul li.active {

}

nav ul li.active a {

    border-bottom: solid 1px rgba(189,54,19,1);

}

#canvas > section,
#canvas > article {

	width: 928px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

	padding-top: 32px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    float: left;

}

#canvas article header,
#canvas section header {

	width: 928px;
    height: 64px;

    float: left; 
    
    margin-bottom: 16px;
            
/*     background-color: silver;  */
            
}

#canvas article header h1,
#canvas section header h1 {

	width: 592px;

    font-family: "Goudy Bookletter 1911";
	font-size: 32px;
	font-weight: normal;

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
    
    float:left;

}

article > h2,
section > h2 {

    font-family: "Goudy Bookletter 1911";

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	font-size: 22px;
	font-weight: normal;

	width: 912px;	
	
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
    
    float:left;

}

article > h2 a,
section > h2 a {

    border-bottom: 0px;

}

/* 
article > h3,
section > h3 {

    font-family: "Goudy Bookletter 1911";

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	font-size: 22px;
	font-weight: normal;

	width: 912px;	
	
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
    
    float:left;

}
 */

article > h4,
section > h4 {

    color:    rgba(189,54,19,1);

    font-family: "Goudy Bookletter 1911";
	font-size: 20px;
	font-weight: normal;
	
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	width: 592px;
	
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
    
    float:left;

}

.stamp {

    font-family: "Goudy Bookletter 1911";
	font-size: 14px;
    color: rgba(113,107,105,1);

	padding-top: 16px;
    padding-bottom: 16px;

}

.align-right {

    text-align: right;

}

p {
	
    width: 592px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

}

::selection {

    background-color: rgba(189,54,19,1);
    color: rgba(242,237,236,1);

}

.big {

	font-size: 26px;
    font-family: "Goudy Bookletter 1911";
	line-height: 48px;    
	
}

.description {

    font-style: italic;

}

aside {

	width: 256px;

	font-size: 14px;
    color:  rgba(113,107,105,1);

	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;

	float: right;
	
	display: inline;
	
	clear: right;
    
}

.sidebox {

	width: 240px;

    background-color: rgba(208,199,198,0.3);
/*     background-color: rgba(163,155,153,0.25);     */
    color:  rgba(38,32,31,1);
    border-radius: 4px;

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;
    
    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
    
}

.sidebox h1 {

    font-family: "Goudy Bookletter 1911";
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    
    line-height: 32px;
    
/*     background-color: yellow; */
    
    margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

}

.sidebox ul {

    list-style: none;

	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
    
}

.sidebox ul li {

    list-style: none;
    
}


figure {

	margin: 0px;
	padding: 0px;

	border: 0px;

}

figcaption {

	width: 256px;

	font-size: 14px;

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;

    clear: right;
    float: right;

}

img {

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

	border: 0px;
	border-radius: 4px;
	
	float: left;
	
}

img.full {
	
	width: 912px;
	
	margin-top: 16px;
	margin-bottom: 40px;
	margin-left: 8px;
	margin-right: 8px;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

	float: left;

}

img.side {

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    float: right;
    clear: right;

}

figure {

    clear: both;

}

article blockquote,
section blockquote {

    width: 496px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 48px;
	margin-right: 48px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    color: rgba(113,107,105,1);

}

article blockquote p,
section blockquote p {

    width: inherit;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

}

table {

		padding-bottom: 0px;
		border-bottom-color: rgba(208,199,198,1);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
		position: relative;
		display: inline-block;
		line-height: 32px;
		
		margin-top: 0px;
		margin-bottom: 17px;
		margin-left: 0px;
		margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
        

	}
	
th {

	background-color: rgba(208,199,198,1);
    font-family: "Goudy Bookletter 1911";
    font-size: 16px;
	font-weight: normal;

	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-left: 8px;
	
}	
	
th.one-col {
	
	width: 144px;
    padding-left: 8px;	
/* 	padding-right: 48px; */
		
	}

th.two-col {

	width: 304px;
    padding-left: 8px;
/*     padding-right: 48px; */

	}

th.col-last {

	margin-right: 0px;

	}
	
td {

    font-size: 14px; */

	padding-bottom: 0px;
	padding-top: 0px;
	margin-right: 0px;
	padding-right: 8px;
	padding-left: 8px;

}

#canvas > footer {

    font-size: 14px;
    font-family: "Goudy Bookletter 1911";

	width: 928px;
	height: 64px;

	margin-top: 64px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
		
	float: left;
}

#canvas > footer #notice {

    width: 592px;

    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;        
    
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;
    
    float: left;
    
    color: rgba(208,199,198,1);

}

/**
 * Grid
 */
#grid{

    /* Dimensions - same width as your grid with gutters */
    width: 992px;

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -496px;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: 127px;
    border: solid rgba(58, 137, 201, 1);;
    border-width: 0 1px;
    margin-right: 31px;

}

#grid div.vert.first-line{

    margin-left: 31px;

}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 20px line height */
    height: 31px;
    border-bottom: 1px dotted rgba(58, 137, 201, 1);;
    margin: 0;
    padding: 0;

}