---
---


/* Colors

White:  rgba(245,243,242,1);
Black:  rgba(53,48,47,1);
Red:    rgba(189,54,19,1);
Grey:   rgba(113,107,105,1);
Light:  rgba(208,199,198,1);

*/

body {

    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 18px;
	line-height: 32px;
	text-align: center;

	color: rgba(53,48,47,1);
    background-color: rgba(245,243,242,1);

	margin: 0px;
	padding: 0px;

}

a {

	color: rgba(53,48,47,1);
	text-decoration: none;
    border-bottom: solid 1px rgba(208,199,198,1);

}

a:active,
a:hover {

	color: rgba(189,54,19,1);
    border-bottom: solid 1px rgba(189,54,19,1);

}

#canvas {

    display: block;
	text-align: left;

    width: 992px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

}

#canvas > header {

	width: 928px;
	height: 96px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: left;

}

#canvas > header > h1 {

    font-family: 'Goudy Bookletter 1911', serif;
	font-size: 16px;
	font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;

	margin-top: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;


    width: 432px;

	padding-top: 32px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

    float:left;

}

#canvas > header > h1 > a {

    color: rgba(189,54,19,1);
    text-decoration: none;
    border-bottom: 0px solid;

}

nav {

    width: 448px; /* Was 608px, before Twitter link, 768 with 4 links */
	float: left;

    color: rgba(208,199,198,1);

    font-family: 'Goudy Bookletter 1911', serif;
    font-style: normal;
    font-size: 16px;

    letter-spacing: 1px;

	margin-top: 16px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 0px;

    padding-top: 32px;
	padding-bottom: 16px;
	padding-left: 0px;
	padding-right: 0px;

}

nav ul {

    list-style: none;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

	float: left;

}

nav ul li > a {

    color: rgba(113,107,105,1);

    border-bottom: solid 0px;

}

nav ul li > a:hover {

}

nav ul li {

    float: left;

    width: 104px;

    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 40px;

    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;

}

nav ul li.last-li {

    margin-right: 0px;

}

nav ul li.active {

}

nav ul li.active a {

    border-bottom: solid 1px rgba(189,54,19,1);

}

#canvas > section,
#canvas > article {

	width: 928px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

	padding-top: 32px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    float: left;
    clear: both;

}

#canvas article header,
#canvas section header {

	width: 928px;
    /*height: 64px;*/

    float: left;

    margin-bottom: 16px;

    clear: both;

}

#canvas article header h1,
#canvas section header h1 {

	width: 592px;

    font-family: 'Goudy Bookletter 1911', serif;
	font-size: 32px;
	font-weight: normal;

    line-height: 32px;

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

    float:left;

}

article h2,
section h2 {

    font-family: 'Goudy Bookletter 1911', serif;

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	font-size: 22px;
	font-weight: normal;

    width: 592px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

    float:left;

}

article h2 a,
section h2 a {

    border-bottom: 0px;

}

article h3,
section h3 {

    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;

    font-size: 18px;
    font-weight: normal;

    width: 592px;

    /*background-color: yellow;*/

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    float:left;

}

article h3 a,
section h3 a {

    border-bottom: 0px;

}

article > h4,
section > h4 {

    color: rgba(189,54,19,1);

    font-family: 'Goudy Bookletter 1911', serif;
	font-size: 20px;
	font-weight: normal;

	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;

	width: 592px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

    float:left;

}

.stamp {

    font-family: 'Goudy Bookletter 1911', serif;
	font-size: 14px;
    color: rgba(208,199,198,1);

    padding-left: 16px;
	padding-top: 0px;
    padding-bottom: 16px;

}

.align-right {

    text-align: right;

}

p {

    width: 592px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

}

::selection {

    background-color: rgba(189,54,19,1);
    color: rgba(242,237,236,1);

}

.big {

	font-size: 26px;
    font-family: 'Goudy Bookletter 1911', serif;
	line-height: 48px;

}

.description {

    font-style: italic;

}

.rating {
    color: rgba(189,54,19,1);
    font-size: 16px;
}

aside {

	width: 256px;

	font-size: 14px;
    color:  rgba(113,107,105,1);

	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;

	float: right;
	display: inline;
	clear: right;

}

.sidebox {

	width: 240px;

    background-color: rgba(208,199,198,0.3);
    color:  rgba(38,32,31,1);
    border-radius: 4px;

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;

    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;

}

.sidebox h1 {

    font-family: 'Goudy Bookletter 1911', serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;

    line-height: 32px;

    margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

}

.sidebox ul {

    list-style: none;

	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

}

.sidebox ul li {

    list-style: none;

}

.sidebox ol {

	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

}

.button {

    background-color:    rgba(189,54,19,1);
    color:  rgba(245,243,242,1);

    text-transform: uppercase;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 14px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

    -moz-border-radius: 4px;
    border-radius: 4px;

}

figure {

	margin: 0px;
	padding: 0px;

	border: 0px;

}

figcaption {

    color:  rgba(113,107,105,1);

	width: 256px;

	font-size: 14px;

	margin-top: 8px;
	margin-bottom: 32px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;

    clear: right;
    float: right;

}

img {

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

	border: 0px;
	border-radius: 4px;

	float: left;

}

img.full {

	width: 912px;

	margin-top: 16px;
	margin-bottom: 40px;
	margin-left: 8px;
	margin-right: 8px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

	float: left;

}

img.half-left {

    width: 432px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

    /*background-color: grey;*/

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 32px;

    float: left;

}

img.half-right {

    width: 432px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

    background-color: grey;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: right;

}

img.text{

    /*border: solid 1px rgba(208,199,198,1);*/

    width: 592px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

}

img.text-framed{

    border: solid 1px rgba(208,199,198,1);
    border-radius: 4px;

    width: 608px;

    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;

}

img.side {

    width: 272px;

	margin-top: 0px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    float: right;
    clear: right;

}


img.side-framed {

    border: solid 1px rgba(208,199,198,0.5);
    border-radius: 4px;

    width: 272px;

    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: right;
    clear: right;

}

figure {

    clear: both;

}



article blockquote,
section blockquote {

    width: 496px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 48px;
	margin-right: 48px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    color: rgba(113,107,105,1);

}

article blockquote p,
section blockquote p {

    width: inherit;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;

}


/*-----------------------------------------------------------------------------
    List Styles
-----------------------------------------------------------------------------*/

section > ul,
article > ul {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    /*background-color: silver;*/

    list-style: none;

}

section > ul li,
article > ul li {
    padding-left: 8px;
    text-indent: -32px;
}

section > ul li:before,
article > ul li:before {
    content: "×"; /* "•●" */
    font-family: "goudy-bookletter-1911-1", "goudy-bookletter-1911-2",
                 "Goudy Bookletter 1911", serif;
    padding-right: 16px;
    color: rgba(113,107,105,1);
}

section > ol,
article > ol {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    list-style: none;
    counter-reset: item;

}

section > ol li,
article > ol li {
    padding-left: 8px;
    text-indent: -8px;
}

section > ol li:before,
article > ol li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    padding-right: 8px;
    color: rgba(113,107,105,1);
    width: 8px;
    margin-left: -16px;
}

/*-----------------------------------------------------------------------------
    Table Styles
-----------------------------------------------------------------------------*/

table {

		padding-bottom: 0px;
		border-bottom-color: rgba(208,199,198,1);
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
		position: relative;
		display: inline-block;
		line-height: 32px;

		margin-top: 0px;
		margin-bottom: 17px;
		margin-left: 0px;
		margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

}

th {

	background-color: rgba(208,199,198,1);
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 16px;
	font-weight: normal;

	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 8px;
	padding-left: 8px;

}

th.one-col {

	width: 144px;
    padding-left: 8px;

	}

th.two-col {

	width: 304px;
    padding-left: 8px;

	}

th.col-last {

	margin-right: 0px;

}

td {

    font-size: 14px;

	padding-bottom: 0px;
	padding-top: 0px;
	margin-right: 0px;
	padding-right: 8px;
	padding-left: 8px;

}

/*-----------------------------------------------------------------------------
     Pre/Code Styles
-----------------------------------------------------------------------------*/

div .highlight {

    width: 608px;

    border-radius: 4px;

    display: inline-block;

    margin-top: 16px;
    margin-bottom: 32px;

}

pre > code {

    /*border: 1px solid #ccc;*/

    width: 592px;
    font: 12px Monaco, "Courier New", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", monospace;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;

    display: block;

}

code {
    font: 12px Monaco, "Courier New", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", monospace;
}

/*-----------------------------------------------------------------------------
    D3 Styles (put in a different file!)
-----------------------------------------------------------------------------*/

svg.d3-panel {

    background-color: white;

    border: solid 1px rgba(208,199,198,1);

	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;

}

.d3-axis path,
.d3-axis line {
    fill: none;
    stroke: rgba(113,107,105,1);
    shape-rendering: crispEdges;
}

.d3-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.d3-red {

    fill: rgba(189,54,19,1);

}

#canvas > footer {

    font-size: 14px;
    font-family: 'Goudy Bookletter 1911', serif;

	width: 928px;
	height: 64px;

	margin-top: 64px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

	float: left;
}

#canvas > footer #notice {

    width: 592px;

    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 24px;

    float: left;

    color: rgba(208,199,198,1);

}

/**
 * Grid
 */
#grid{

    /* Dimensions - same width as your grid with gutters */
    width: 992px;

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -496px;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: 127px;
    border: solid rgba(58, 137, 201, 1);;
    border-width: 0 1px;
    margin-right: 31px;

}

#grid div.vert.first-line{

    margin-left: 31px;

}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 20px line height */
    height: 31px;
    border-bottom: 1px dotted rgba(58, 137, 201, 1);;
    margin: 0;
    padding: 0;

}