---
layout: projects
title: Projects
---

<section>

  <header>
    <h1>{{ page.title }}</h1>
  </header>

</section>

<section>

  <h4>Code</h4>

    {% for post in site.tags.code %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>

<section>

  <h4>Research</h4>

    {% for post in site.tags.physics %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>

<section>

  <h4>Music</h4>

    {% for post in site.tags.songwriting %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>

<section>

  <h4>Adventures</h4>

    {% for post in site.tags.adventures %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>