---
layout: projects
title: Projects
---

<section>

  <header>
    <h1>{{ page.title }}</h1>
  </header>

</section>

<section>

  <h4>Code</h4>

    {% for post in site.tags.code %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>

<!-- <section>

  <h4>Journals</h4>

    <h2><a href="/photos">Photos</a></h2>

    <p class="description">A travelogue from the viewfinder.</p>

    <h2><a href="/bookshelf">Bookshelf</a></h2>

    <p class="description">Like Goodreads but antisocial.</p>

</section> -->

<section>

  <h4>Research</h4>

    {% for post in site.tags.physics %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <!-- <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B %Y" }}</aside> -->

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>


<section>

  <h4>Music</h4>

    {% for post in site.tags.songwriting %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>

<section>

  <h4>Adventures</h4>

    {% for post in site.tags.adventures %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="description">{{ post.description }}</p>

    {% endfor %}

</section>