---
layout: home
title: Tommy Ogden
---

<section>

  <header>
    <h1>Information is Physical</h1>
    <p class="description">A blog about doing maths and physics with computers.</p>
  </header>

  <!-- <p>&nbsp;</p> -->

</section>

<section>

<h4>Posts</h4>

<aside>&nbsp;</aside>

{% for post in site.categories.notes %}
  <!-- <aside class="stamp">{{ post.date | date: "%Y-%m-%d" }}</aside> -->
  <h3><a href="{{ post.url }}">{{ post.title }}</a>
    <span class="stamp">{{ post.date | date: "%Y-%m-%d" }}</span></h3>
  <!-- <p class="description"><em>{{ post.description }}</em></p>  -->
{% endfor %}

</section>

<section>

<h4>Photo Journal</h4>

{% for post in site.categories.photos %}
  <!-- <aside class="stamp">{{ post.date | date: "%Y-%m-%d" }}</aside> -->
  <h3><a href="{{ post.url }}">{{ post.title }}</a>
    <span class="stamp">{{ post.date | date: "%Y-%m-%d" }}</span></h3>
{% endfor %}

</section>