---
layout: home
title: Information is Physical
---

<section>

  <header>
    <h1>Information is Physical</h1>
    <p>A blog about doing physics on computers, mostly.</p>
  </header>

  <p>&nbsp;</p>

</section>

{% for post in site.categories.notes limit:1 %}

<section>
        
  <aside>&nbsp;</aside>

  <h4>{{ post.date | date: '%Y' }}</h4>
 
  <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B" }}, {{ post.location }}</aside>
 
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                
  <p class="description"><em>{{ post.description }}</em></p> 
        
{% capture year_a %}{{ post.date | date: '%Y' }}{% endcapture %}
        
{% endfor %}

{% for post in site.categories.notes offset:1 %}

{% capture year_b %}{{ post.date | date: '%Y' }}{% endcapture %}

{% if year_b != year_a %} 

</section>
                
<section>
            
  <aside>&nbsp;</aside>

  <h4>{{ post.date | date: '%Y' }}</h4>
        
{% endif %}

  <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B" }}, {{ post.location }}</aside>

  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                
  <p class="description">{{ post.description }}</p>  

{% capture year_a %}{{ post.date | date: '%Y' }}{% endcapture %}

{% endfor %}

</section>