---
layout: no-nav
title: Tommy Ogden &mdash; physics, code, songs, adventures.
---

	        <article>
	
	            <header>
	                
	                <h1 class="small"><a href="/projects/">Projects</a></h1>
	                
	            </header>
	        

	            <div class="two-col">
	            
	                <a href="/nitrate/"><img src="photos/project-nitrate-2col.png" /></a>
	                
	                <h2><a href="/nitrate/">Reorientation Dynamics of Nitrate in Water</a></h2>
	                           
	            </div>

	            
	            <div class="two-col">
	            
	                <a href="/newpin/"><img src="photos/project-new-pin-2col.png" /></a>
	                
	                <h2><a href="/newpin/">As Neat as a New Pin</a></h2>
	                           
	            </div>           
	            
<!--
	            <div class="two-col col-last">
	            
	                <img src="photos/project-stockholm-marathon-2col.png" />
	                
	                <h2>The Stockholm Marathon</h2>
	                           
	            </div> 
-->
	            
	            <div class="two-col col-last">
	            
	                <a href="/pi/"><img src="photos/project-pi-2col.png" /></a>
	                
	                <h2><a href="/pi/">Pickup Sticks &amp; Pi</a></h2>
	                           
	            </div>
	            
	<!--
	            <div class="two-col">
	            
	                <img src="photos/project-nitrate-1.png" />
	                
	                <h2>Photos of 2010</h2>
	                           
	            </div> 
	-->               

	            <div class="two-col">
	            
	                <a href="/pennineway/"><img src="photos/project-pw-2col.png" /></a>
	                
	                <h2><a href="/pennineway/">The Pennine Way</a></h2>
	                           
	            </div>
	            
	            <div class="two-col">
	            
	                <a href="/outreach/"><img src="png/outreach-2col.png" /></a>
	                
	                <h2><a href="/outreach/">Outreach</a></h2>
	                           
	            </div>	            
	            
	            <div class="two-col col-last">
	            
	                <a href="/photos/"><img src="/jpg/IMG_0568-2col.JPG" /></a>
	                
	                <h2><a href="/photos/">Photos</a></h2>
	                           
	            </div>
	            
	            
	<!--
	            <div class="two-col">
	            
	                <img src="photos/project-nitrate-1.png" />
	                
	                <h2>Constants</h2>
	                           
	            </div>
	-->
	            
	<!--
	            <div class="two-col col-last">
	            
	                <img src="photos/project-nitrate-1.png" />
	                
	                <h2>Who Ordered That?</h2>
	                           
	            </div>
	-->
	
	        </article>
	
	        <article>
	
	            <header>
	                
	                <h1 class="small"><a href="/notes/">Notes</a></h1>
	                
	            </header>
	
	            <ul class="notes">
	                
                {% for post in site.posts limit:5 %}
                    {%  if post.layout == 'note' %} 
                     
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    
                    {% endif %}
                {% endfor %}
	                
	            </ul>
	
	        </article>
	
	        <article>
	
	            <header>
	                
	                <h1 class="small"><a href="/about/">About</a></h1>
	                
	            </header>
	    
	            <!--<aside><a class="button" href="/cv/">&rarr; Read my CV</a></aside>-->
	            
	            <aside><a class="button" href="http://twitter.com/tommyogden">&rarr; Follow @tommyogden</a></aside>
	    
	            <p>Born in north Wales, home is Manchester, England. I lived the past two years in Stockholm, Sweden. I study for a PhD in Theoretical Physics at Durham.<!-- <br /> <span class="button">&rarr; Read More</span></p>-->
	            
	            <p>To contact me mail 
	            
	            {% include mail_ogden_eu.html %}
	            
                and I&rsquo;ll typically reply in a day.</p>
	            
	<!--             <p>To track updates to this site grab the feed, get mail alerts or follow me.</p> -->
	            
	        </article>