<head>

    <meta charset="utf-8" />

    {%  if page.layout == 'no-nav' %}

    <title>{{ page.title }}</title>

    {%  elsif page.layout == 'about' %}

    <title>{{ page.title }}</title>

    {% else %}

    <title>{{ page.title }}</title>

    {% endif %}

    <link href="/atom.xml" rel="alternate" title="Atom Feed" type="application/atom+xml" />

<!--     <link rel="shortcut icon" href="/png/favicon.png"> -->

    <!--[if ! lte IE 6]><!-->
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="stylesheet" href="/css/solarized-dark.css" />

    <!--<![endif]-->

    <!--[if lte IE 6]>
    <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
    <![endif]-->

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        },
        styles: {
          ".MathJax_Display": {
            "width": "592px !important"
          }
        }
      });
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

</head>

<!-- Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/xeb1hul.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    