<head>

<meta charset="utf-8" />

<title>{{ page.title }}</title>

<link href="/atom.xml" rel="alternate" title="Atom Feed" type="application/atom+xml" />

<!-- Icons -->
<link rel="apple-touch-icon" href="/assets/png/logo_1024.png">
<link rel="shortcut icon" href="/assets/png/logo_192.png">

<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/solarized-dark.css" />

  <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">

</head>
