        <header>

            <a href="/">{% include svg_logo.html %}</a>

            <!-- 
<script src="/js/logo.js"></script>
            
            <script>
                drawLogo();
            </script>
 -->

<!--             <h1><a href="/">&otimes;</a></h1> -->

            <nav>

                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li class="active"><a href="/notes/">Notes</a></li>
                    <li class="last-li"><a href="/photos/">Photos</a></li>
                </ul>
	
            </nav>

        </header>