<head>

<meta charset="utf-8" />

<title>{{ page.title }}</title>

<link href="/atom.xml" rel="alternate" title="Atom Feed"
type="application/atom+xml" />

<!-- Icons -->
<!-- <link rel="shortcut icon" href="/assets/logo/logo_1024.png"> -->
<!-- <link rel="apple-touch-icon" href="/assets/logo/logo_1024.png"> -->
<link rel="shortcut icon" href="/assets/logo/logo.svg">

<link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="/assets/css/monokai.css" />
{% if site.show_drafts == true %}
<link rel="stylesheet" href="/assets/css/grid.css" />
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Rubik&amp;subset=latin-ext" 
rel="stylesheet">

{% if page.include_d3 == true %}
<script src="https://d3js.org/d3.v3.min.js"></script> 
{% endif %}

</head>
