{% if page.include_math == true %}
<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
      styles: {
      ".MathJax_Display": {}
    },
    "HTML-CSS": {
        availableFonts: [],
        preferredFont: null,
        webFont: ["Asana-Math"]
    }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

{% if site.show_drafts == true %}
<!-- Scripts to include when drafting -->
<!-- jQuery -->
<script type="text/javascript" src="/assets/js/jquery-1.6.3.min.js"></script>
<!-- Hashgrid -->
<script type="text/javascript" src="/assets/js/hashgrid.js"></script>
{% endif %}

<!-- Google Analytics Tracking Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104421782-1', 'auto');
  ga('send', 'pageview');

</script>
