---
---

$column-width: 128px;
$gutter-width: 32px;

$canvas-width: 6*$column-width + 7*$gutter-width; //992px;
$narrow-canvas-width: 4*$column-width + 5*$gutter-width;

#grid{

    /* Dimensions - same width as your grid with gutters */
    width: $canvas-width;

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -$canvas-width/2;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: $column-width - 1px;
    border: solid rgba(208,199,198,1);//rgba(58, 137, 201, 1);;
    border-width: 0 1px;
    margin-right: $gutter-width - 1px;

}

#grid div.vert.first-line{

    margin-left: $gutter-width - 1px;

}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 20px line height */
    height: 31px;
    border-bottom: solid 1px rgba(208,199,198,0.5);//rgba(58, 137, 201, 1);;
    margin: 0;
    padding: 0;

}

@media (max-width: $canvas-width) {

  #grid{ 

    width: $narrow-canvas-width;
    position: absolute;
    left: 0;

    margin-left: auto;
    margin-right: auto;

  }



}


