---
---

/* Dimensions */

$column-width: 128px;
$gutter-width: 32px;

$canvas-width: 6*$column-width + 7*$gutter-width;
$narrow-canvas-width: 4*$column-width + 5*$gutter-width;
$narrower-canvas-width: 2*$column-width + 3*$gutter-width;

$full-width: 6*$column-width + 5*$gutter-width;
$main-width: 4*$column-width + 3*$gutter-width;
$sidebar-width: 2*$column-width + $gutter-width;

$narrower-canvas-width: 100%;
$narrower-main-width: 95%;
$narrower-gutter-width: 2.5%;

$h-margin: 8px;

$text-width: $main-width - 2*$h-margin;

$line-height: 28px;
$font-size: 16px;

/* Fonts */

// @font-face{ 
// 	font-family: 'Goudy1911';
// 	src: url('/assets/fonts/goudy_bookletter_1911-webfont.woff') format('woff');
// }

$body-font-stack: Georgia, serif; //'PT Serif', Georgia, serif;
$header-font-stack: Georgia, serif; // 'Goudy1911', 'PT Sans', sans-serif;
$code-font-stack: Monaco, monospace;

/* Colors */
$white: white;
$black: #231C07;

/* Seaborn color palettes */
$deep-blue: #4c72b0;
$deep-orange: #dd8452;
$deep-green: #55a868;
$deep-red: #c44e52;
$deep-purple: #8172b3;
$deep-brown: #937860;
$deep-pink:#da8bc3;
$deep-grey: #8c8c8c;
$deep-yellow: #ccb974;
$deep-cyan: #64b5cd;
$pastel-blue: #a1c9f4;
$pastel-orange: #ffb482;
$pastel-green: #8de5a1;
$pastel-red: #ff9f9b;
$pastel-purple: #d0bbff;
$pastel-brown: #debb9b;
$pastel-pink: #fab0e4;
$pastel-grey: #cfcfcf;
$pastel-yellow: #fffea3;
$pastel-cyan: #b9f2f0;
$lighter-grey: rgba(207,207,207, 0.25); // pastel-grey with alpha

body {
  font-family: $body-font-stack;
  font-size: $font-size;
  line-height: $line-height;  
  text-align: center;
  color: $black;
  background-color: $white;
  margin: 0px;
  padding: 0px;
}

/* Structure --------------------------------------------------------------- */

#canvas {
  display: block;
  text-align: left;
  width: $canvas-width;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

article, section {
  width: $full-width;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: $gutter-width;
  margin-right: $gutter-width;
  padding-top: $line-height;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  clear: both;
}

/* Header and Nav ---------------------------------------------------------- */

header {
  width: $full-width;
  height: 3*$line-height;
  margin-left: $gutter-width;
  margin-right: $gutter-width;
  float: left;
  #home {
    width: 2*$column-width + 1*$gutter-width - 2*$h-margin;
    font-family: $header-font-stack;
    font-size: 16px;
    letter-spacing: 1px;
    // text-transform: uppercase;
    margin-top: $line-height/2;
    padding-top: $line-height;
    padding-left: 8px;
    padding-right: 8px;
    float:left;
    a {
      color: $deep-red;
      text-decoration: none;
      border-bottom: 0px solid;
    }
    a:active, a:hover {
      border-bottom: solid 1px $deep-red;
    }
  }
}

nav {
  width: 3*$column-width + 2*$gutter-width;
  float: left;
  font-family: $header-font-stack;
  font-style: normal;
  font-size: 7/8*$font-size;
  letter-spacing: 1px;
  margin-top: $line-height/2;
  margin-left: $column-width + 2*$gutter-width;
  padding-top: $line-height;
  padding-bottom: $line-height/2;
  ul {
    width: 3*$column-width + 3*$gutter-width;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    li {
      float: left;
      width: 112px;
      margin-right: 32px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 8px;
      padding-right: 8px;
    }
    li:before {
      content: "";
    }
  }
  a {
    border-bottom: solid 0px;
  }
}

/* Paragraphs and Blockquotes ---------------------------------------------- */

p {
  width: $text-width;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: $line-height/2;
  padding-bottom: $line-height/2;
  padding-left: 8px;
  padding-right: 8px;
  clear: left;
}

blockquote {
  width: $text-width - 48px;
  text-indent: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 0px;
  padding-bottom: $line-height/2;
  padding-left: 0px;
  padding-right: 0px;
  color: $deep-grey;
  p {
    display: inline;
    padding-left: 0px;
  }
}

/* Headers ----------------------------------------------------------------- */

h1 {
  width: $text-width;
  font-family: $header-font-stack;
  font-size: 11/8*$font-size;
  font-weight: normal;
  line-height: 28px;
  margin: 0px;
  padding-top: $line-height/2;
  padding-bottom: $line-height/2;
  padding-left: 8px;
  padding-right: 8px;
}

h2 {
  width: $text-width;
  font-family: $header-font-stack;
  font-size: 5/4*$font-size;
  font-weight: normal;
  margin: 0px;
  padding-top: $line-height/2;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  a {
    border-bottom: 0px;
  }
}

h3 {
  font-family: $header-font-stack;
  margin: 0px;
  font-size: 9/8*$font-size;
  font-weight: normal;
  width: $text-width;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  a {
    border-bottom: 0px;
  }
}

h4 {
  font-family: $header-font-stack;
  font-size: $font-size;
  font-weight: normal;
  color: $deep-grey;
  font-size: 3/4*$font-size;
  margin: 0px;
  width: $text-width;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

/* Links and Text Decorations ---------------------------------------------- */

a {
  color: $deep-blue;
  text-decoration: none;
  border-bottom: solid 1px $pastel-grey;
}

a:active, a:hover {
  color: $deep-red;
  border-bottom: solid 1px $deep-red;
}

.stamp {
  font-family: $header-font-stack;
  font-size: 2/3*$font-size;
  color: $deep-grey;
  padding-left: 0px;
  padding-right: 0px;
}

.align-right {
  text-align: right;
}

.description {
  font-style: italic;
}

.rating {
  color: $deep-red;
  font-size: 16px;
}

.deep-grey {
  color: $deep-grey;
}

/* Asides and Sideboxes ---------------------------------------------------- */

aside {
  width: $sidebar-width - 2*$h-margin;
  font-size: 14px;
  color:  $deep-grey;
  margin-left: 32px;
  margin-right: 0px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;

  float: right;
//   display: inline;
  clear: right;
}

.date {
  padding-top: 12px;
  padding-bottom: 14px;
}

.sidebox {
  width: $sidebar-width - 2*$h-margin;
  background-color: $lighter-grey;
  color: $black;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: $line-height;
  margin-left: 32px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  h4 {
    width: $sidebar-width - 2*$h-margin;
    padding-left: 0px;
  }
  ul {
    width: inherit;
    list-style: none;
    margin-top: $line-height/2;
    margin-bottom: $line-height/2;
    margin-left: 16px;
    margin-right: 0px;
    padding: 0px;
    li:before {
      text-indent: 8px;
    }
  }
  ol {
    width: inherit;
    margin-top: $line-height/2;
    margin-bottom: $line-height/2;
    margin-left: 16px;
    margin-right: 0px;
    padding: 0px;
    li:before {
      padding-right: 8px;
      color: $deep-red;
      width: 16px;
      margin-left: -24px;
    }
  }
}

/* Images ------------------------------------------------------------------ */

figure {
  margin: 0px;
  padding: 0px;
  border: 0px;
  clear: both;
}

figcaption {
  color:  $deep-grey;
  width: $sidebar-width - 2*$h-margin;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: $line-height;
  margin-left: 32px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  clear: right;
  float: right;
}

img {
  margin-top: 0px;
  margin-bottom: $line-height;
  margin-left: $h-margin;
  margin-right: $h-margin;
  padding: 0px;
  border: 0px;
//   border-radius: 0px;
  float: left;
}

.full {
  width: $full-width - $h-margin*2;
  margin-top: $line-height;
  margin-bottom: $line-height + 8px;
  margin-left: $h-margin;
  margin-right: $h-margin;
  padding: 0px;
  float: left;
}

.full-framed{
  width: $full-width - 2*$h-margin - 2px;
  border: solid 1px $pastel-grey;
}

.text {
  width: $text-width;
  margin-top: $line-height/2;
  margin-bottom: $line-height + 8px;
}

.text-framed {
  width: $text-width - 2;
  border: solid 1px $pastel-grey;
  margin-top: 8px;
  margin-bottom: $line-height - 8px;
}

.side {
  width: $sidebar-width - 2*$h-margin;
  margin-left: 32px;
  padding: 0px;
  float: right;
  clear: right;
}

.side-framed {
  width: $sidebar-width - 2*$h-margin - 2px;
  border: solid 1px $pastel-grey;
  padding: 0px;
  float: right;
  clear: right;
}

.half-left {
  width: 3*$column-width + 2*$gutter-width - 2*$h-margin;
  margin-top: $line-height/2;
  margin-bottom: $line-height + 8px;
  margin-right: 32px;
  padding: 0px;
  float: left;
}

.half-right {
  width: 432px;
  margin-top: $line-height/2;
  margin-bottom: $line-height + 8px;
  padding: 0px;
  float: right;
}

/* Lists ------------------------------------------------------------------- */

ul {
  width: $text-width;
  margin: 0px;
  padding-top: $line-height/2;
  padding-bottom: $line-height/2;
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  li {
    padding-left: 0px;
    p {
      width: $text-width - 8px;
      text-indent: 0px;
      margin: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: $line-height/2;
      clear: none;
    }
  }
  li:before {
    content: "■";
    font-size: 3/4*$font-size;
    color: $deep-red;
    position: relative;
    left: -24px;
    float: left;
    width: 0px;
    padding-right: 0px;
  }
}

ol {
  width: $text-width;
  margin: 0px;
  padding-top: $line-height/2;
  padding-bottom: $line-height/2;
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  counter-reset: item;
  li {
    padding-left: 0px;
    p {
      width: $text-width - 8px;
      text-indent: 0px;
      padding-left: 0px;
      padding-top: 0px;
    }
  }
  li:before {
    float: left;
    content: counter(item) "";
    counter-increment: item;
    padding-right: 8px;
    color: $deep-red;
    width: 16px;
    margin-left: -32px;
    position: absolute;
    font-family: $header-font-stack;
    font-size: 13px;
    text-align: right;
    // padding-top: 1px;
  }
}

/* Definition List, Used for Index ----------------------------------------- */

dl {
  width: $text-width;
  margin: 0px;
  padding-top: $line-height/2;
  padding-bottom: $line-height;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
}

dt {
  float: left;
  clear: left;
  margin-right: 24px;
  padding-left: 1.5em;
  text-indent: -1.5em;
  a {
    border-bottom: 0px;
  }
}

dd {
  margin: 0px;
  float: left;
}

/* Tables ------------------------------------------------------------------ */

table {
    padding-bottom: 0px;
    border-bottom-color: $pastel-grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-spacing: 0px 0px;
    position: relative;
    display: inline-block;
    margin-top: $line-height/2;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

th {
  background-color: $pastel-grey;
  font-family: $header-font-stack;
  font-size: 3/4*$font-size;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
}

th.one-col {
  width: 144px;
  padding-left: 8px;
}

th.two-col {
  width: 304px;
  padding-left: 8px;
}

th.col-last {
  margin-right: 0px;
}

td {
  font-size: 14px;
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
}

/* Code -------------------------------------------------------------------- */

div .highlight {
  width: $main-width;
  border-radius: 4px;
  display: inline-block;
  margin-top: $line-height/2;
  margin-bottom: $line-height;
}

code {
//   font-family: $code-font-stack;
  font-size: 12px;
}

pre > code {
    width: $text-width;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    overflow: auto;
}

/* Footnotes ----------------------------------------------------------------*/

sup {
    line-height: 0;
}

.footnote {
    vertical-align: super;
    font-size: 3/4*$font-size;
    border-bottom: none;
}

.footnotes {
    padding-top: 16px;
    font-size: 3/4*$font-size;
}

.footnotes:before {
    content: "___";
    color: $pastel-grey;
    font-weight: normal;
    width: $text-width;
    padding-left: 8px;
}

/* Nav ----------------------------------------------------------------------*/ 

.prev:before {
    content: "⇣";
    // font-family: $header-font-stack;
    color: $deep-red;
    position: relative;
    left: -28px;
    float: left;
    width: 0px;
    padding-right: 0px;
  }

  .next:before {
    content: "⇡";
    // font-family: $header-font-stack;
    color: $deep-red;
    position: relative;
    left: -28px;
    float: left;
    width: 0px;
    padding-right: 0px;
  }

/* Footer ------------------------------------------------------------------ */

footer {
  font-size: 2/3*$font-size;
  font-family: $header-font-stack;
  width: $full-width;
  height: 2*$line-height;
  margin-top: 2*$line-height;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0px;
  float: left;
  #notice {
    color: $pastel-grey;
  }

}

/* Viewports --------------------------------------------------------------- */

@media (max-width: $canvas-width) {

  #canvas {
    width: $narrow-canvas-width;
  }

  header {
    width: $main-width;
  }

  nav {
    width: 2*$column-width + $gutter-width;
    margin-left: $gutter-width;
  
    ul {
      width: 2*$column-width + 2*$gutter-width;
    } 
  }

  .nav-wide-only {
    display: none;
  }

  article, section {
    width: $main-width;
  }

  .date {
    width: $column-width - 2*$h-margin;
  }

  .full, .full-framed {
    width: $text-width;
  }

  .half-left {
    width: 2*$column-width + 1*$gutter-width - 1*$h-margin;
    margin-right: 8px;
  }

  .half-right {
    width: 2*$column-width + 1*$gutter-width - 1*$h-margin;
    margin-right: 8px;
  }

  footer {
    width: $main-width;
  }

}

@media (max-width: $narrow-canvas-width) {

  #canvas {
    width: $narrower-canvas-width;
  }

  header {
    height: 5*$line-height;
    width: $narrower-main-width;
    margin-left: $narrower-gutter-width;
    margin-right: $narrower-gutter-width;
  }

  nav {
    margin-top: 0px; 
    margin-left: 0px;
  }

  footer {
    width: $narrower-main-width;
    margin-left: $narrower-gutter-width;
    margin-right: $narrower-gutter-width;
  }

  article, section {
    width: $narrower-main-width;
    margin-left: $narrower-gutter-width;
    margin-right: $narrower-gutter-width;
  }

  p, h1, h2, h3, h4, dl {
    width: $narrower-main-width;
  }

  ul, ol {
    width: $narrower-main-width;
    li p {
      width: $narrower-main-width;
    }
  }

  ul {
    li:before {
      left: -14px;
    }
  }

  ol {
    li:before {
      margin-left: -20px;
      font-size: 11px;
    }
  }

  blockquote {
    width: $narrower-main-width;
    margin-left: 16px;
    margin-right: 16px;

  }

  aside {
    float: left;
    margin-left: 0px;
  }

  .date {
    width: $narrower-main-width;
  }

  .sidebox {
    margin-left: 8px;
  }

  .text, .text-framed, .full, .full-framed, .half-left, 
  .half-right {
    width: $narrower-main-width;
  }

  div .highlight {
    width: $narrower-main-width;
  }

  pre > code {
    width: $narrower-main-width;
  }

  .MathJax_Display {
    width: $narrower-main-width !important;
    color: $deep-red;
  }

}
