---
---

/* Fonts */
$body-font-stack: Times, 'Times New Roman', serif;
$header-font-stack: 'Goudy Bookletter 1911', serif;

/* Colors */
$white: rgba(245,243,242,1);
$black: rgba(53,48,47,1);
$red: rgba(189,54,19,1);
$grey: rgba(113,107,105,1);
$light-grey: rgba(208,199,198,1);

body {

    font-family: $body-font-stack;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    color: $black;
    background-color: rgba(245,243,242,1);

    margin: 0px;
    padding: 0px;

}

a {

    color: $black;
    text-decoration: none;
    border-bottom: solid 1px rgba(208,199,198,1);

}

a:active,
a:hover {

    color: $red;
    border-bottom: solid 1px $red;

}

#canvas {

    display: block;
    text-align: left;

    width: 992px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    header {

        width: 928px;
        height: 96px;

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 32px;
        margin-right: 32px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

        float: left;

        #home {

            font-family: $header-font-stack;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 4px;
            text-transform: uppercase;

            margin-top: 16px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;


            width: 432px;

            padding-top: 32px;
            padding-bottom: 16px;
            padding-left: 8px;
            padding-right: 8px;

            float:left;

            a {

                color: $red;
                text-decoration: none;
                border-bottom: 0px solid;

            }

        }

    }

}

nav {

    width: 448px; /* Was 608px, before Twitter link, 768 with 4 links */
    float: left;

    color: $light-grey;

    font-family: $header-font-stack;
    font-style: normal;
    font-size: 16px;

    letter-spacing: 1px;

    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 0px;

    padding-top: 32px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;

    ul {

        list-style: none;

        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

        float: left;

        li a {

            color: $grey;
            border-bottom: solid 0px;
        }

        li {

            float: left;

            width: 104px;

            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 32px;
            margin-right: 8px;

            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 8px;
            padding-right: 8px;

            .last-li {

                margin-right: 0px;

            }

            .active a {

                border-bottom: solid 1px $red;

            }

        }

        li:before {

            content: "";
            padding-right: initial;
            color: initial;
            text-indent: initial;

        }

    }

}

article, section {

    width: 928px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 32px;

    padding-top: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: left;
    clear: both;

}

p {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

}

h1 {

    width: 592px;

    font-family: $header-font-stack;
    font-size: 32px;
    font-weight: normal;

    line-height: 32px;

    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;

    padding-top: 16px;
    padding-bottom: 48px;
    padding-left: 8px;
    padding-right: 8px;

    float:left;

}

h2 {

    font-family: $header-font-stack;

    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;

    font-size: 22px;
    font-weight: normal;

    width: 592px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    float:left;

    a {

        border-bottom: 0px;

    }
}

h3 {

    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;

    font-size: 18px;
    font-weight: normal;

    width: 592px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    float:left;

    a {

        border-bottom: 0px;

    }

}

h4 {

    color: $red;

    font-family: $header-font-stack;
    font-size: 20px;
    font-weight: normal;

    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;

    width: 592px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    float:left;

}

blockquote {

    // width: 496px;
    width: 544px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

    color: $grey;

}

blockquote p {

//   text-indent: 0px !important;
  display: inline;
}

.stamp {

    font-family: $header-font-stack;
    font-size: 14px;
    color: $light-grey;

    padding-left: 16px;
    padding-top: 0px;
    padding-bottom: 16px;

}

.align-right {

    text-align: right;

}

.description {

    font-style: italic;

}

.rating {

    color: $red;
    font-size: 16px;

}

aside {

    width: 256px;

    font-size: 14px;
    color:  $grey;

    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 24px;

    float: right;
    display: inline;
    clear: right;

}

.sidebox {

    width: 240px;

    background-color: rgba(208,199,198,0.3);
    color:  rgba(38,32,31,1);
    border-radius: 4px;

    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;

    ul {

        list-style: none;

        margin-top: 0px;
        margin-bottom: 16px;
        margin-left: 0px;
        margin-right: 0px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

        li {

            list-style: none;

        }

        li:before {

            content: initial;
            padding-right: initial;
            color: initial;
            text-indent: 0px;

        }

    }

    ol {

        margin-top: 0px;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 0px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

    }

}

figure {

    margin: 0px;
    padding: 0px;

    border: 0px;
    clear: both;

}

figcaption {

    color:  $grey;

    width: 256px;

    font-size: 14px;

    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 24px;

    clear: right;
    float: right;

}

img {

    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    border: 0px;
    border-radius: 4px;

    float: left;

}

img.full {

    width: 912px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: left;

}

img.half-left {

    width: 432px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 32px;

    float: left;

}

img.half-right {

    width: 432px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

    background-color: grey;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: right;

}

img.text {

    /*border: solid 1px $light-grey;*/

    width: 592px;

    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

}

img.text-framed {

    border: solid 1px $light-grey;
    border-radius: 4px;

    width: 608px;

    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;

}

img.side {

    width: 272px;

    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: right;
    clear: right;

}


img.side-framed {

    border: solid 1px rgba(208,199,198,0.5);
    border-radius: 4px;

    width: 272px;

    margin-top: 0px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: right;
    clear: right;

}

/*-----------------------------------------------------------------------------
    List Styles
-----------------------------------------------------------------------------*/

ul {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    list-style: none;
}

ul li {

    padding-left: 0px;
    // text-indent: -50px;

    // background-color: silver;
}

ul li:before {
    content: "×";
    font-family: $header-font-stack;
    padding-right: 0px;
    // color: $grey;
    color: $red;


    position: relative;
	left: -24px;

    float: left;

    width: 0px;

}

ul li p {

    width: 592px - 8px;

    text-indent: 0px;

    margin: 0px;

    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 16px;

}

ol {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

    list-style: none;
    counter-reset: item;

}

ol li {

    padding-left: 0px;

}

ol li:before {

    float: left;

    // display: inline-block;
    display: inline;

    content: counter(item) "";
    counter-increment: item;
    padding-right: 8px;
    color: $red;
    width: 16px;
    margin-left: -32px;

    position:absolute;

    text-align: right;

}



ol li p {

    width: 592px - 8px;

    text-indent: 0px;

    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 16px;

}

/*-----------------------------------------------------------------------------
    Table Styles
-----------------------------------------------------------------------------*/

table {

        padding-bottom: 0px;
        border-bottom-color: $light-grey;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-spacing: 0px 0px;
        position: relative;
        display: inline-block;
        line-height: 32px;

        margin-top: 0px;
        margin-bottom: 17px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;

}

th {

    background-color: $light-grey;
    font-family: $header-font-stack;
    font-size: 16px;
    font-weight: normal;

    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 8px;

}

th.one-col {

    width: 144px;
    padding-left: 8px;

}

th.two-col {

    width: 304px;
    padding-left: 8px;

}

th.col-last {

    margin-right: 0px;

}

td {

    font-size: 14px;

    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-right: 8px;
    padding-left: 8px;

}

/*-----------------------------------------------------------------------------
     Pre/Code Styles
-----------------------------------------------------------------------------*/

div .highlight {

    width: 608px;

    border-radius: 4px;

    display: inline-block;

    margin-top: 16px;
    margin-bottom: 32px;

}

pre > code {

    /*border: 1px solid #ccc;*/

    width: 592px;
    font: 12px Monaco, "Courier New", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", monospace;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;

    display: block;

}

code {
    font: 12px Monaco, "Courier New", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", monospace;
}

#canvas > footer {

    font-size: 14px;
    font-family: $header-font-stack;

    width: 928px;
    height: 64px;

    margin-top: 64px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 32px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    float: left;
}

#canvas > footer #notice {

    width: 592px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 24px;

    float: left;

    color: $light-grey;

}
