---
layout: notes
title: Notes
---

        {% for post in site.categories.note limit:1 %}
            
        <article>

            <h2 class="small" id="latest">Latest</a></h2>
            
            <header> 
                
                <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B %Y" }}, {{ post.location }}</aside>
                
                <h1><!-- <a href="{{ post.url }}"> -->{{ post.title }}</a><!-- </h1> -->
                
            </header>
            
            {{ post.content}}
            
            <footer>
            
            </footer>
         
        </article> 
            
        {% endfor %}

        <article>
                
            <h2 class="small" id="archives">Archives</h2>

            <ul class="notes"> 
                {% for post in site.categories.note offset:1 %}
                     
                    <li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="stamp">{{ post.date | date:"%d %B %Y" }}, {{ post.location }}</span></li>

                {% endfor %}
            </ul>

        </article>
            