---
layout: notes
title: Notes
---

<section>
            
  <header>
            
    <h1>Notes</h1>

  </header>

  <p>I write here, intermittently. The easiest way to find out when I&rsquo;ve put something new up is to follow on <a href="http://twitter.com/tommyogden">Twitter</a> or by <a href="/atom.xml">RSS</a>.</p>

{% for post in site.categories.notes limit:1 %}

</section>

<section>
        
  <aside>&nbsp;</aside>

  <h4>{{ post.date | date: '%Y' }}</h4>
 
  <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B" }}, {{ post.location }}</aside>
 
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                
  <p class="description"><em>{{ post.description }}</em></p> 
        
{% capture year_a %}{{ post.date | date: '%Y' }}{% endcapture %}
        
{% endfor %}

{% for post in site.categories.notes offset:1 %}

{% capture year_b %}{{ post.date | date: '%Y' }}{% endcapture %}

{% if year_b != year_a %} 

</section>
                
<section>
            
  <aside>&nbsp;</aside>

  <h4>{{ post.date | date: '%Y' }}</h4>
        
{% endif %}

  <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B" }}, {{ post.location }}</aside>

  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                
  <p class="description">{{ post.description }}</p>  

{% capture year_a %}{{ post.date | date: '%Y' }}{% endcapture %}

{% endfor %}

</section>