---
layout: notes
title: Notes
---

        {% for post in site.posts limit:1 %}
            
        <article>

            <h2 class="small" id="latest">Latest</a></h2>
            
            <header> 
                
                <aside class="stamp">{{ post.date | {{ post.date | date:"%d %B %Y" }}, {{ post.location }}</aside>
                
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                
            </header>
            
            {{ post.content}}
            
            <footer>
            
            </footer>
         
        </article> 
            
        {% endfor %}

        <article>
                
            <h2 class="small" id="archives">Archives</h2>

            <ul class="notes"> 
                {% for post in site.posts %}
                    {%  if post.layout == 'note' %} 
                     
                    <li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; <span>{{ post.date | date:"%d %B %Y" }}, {{ post.location }}</span></li>
                    
                    {% endif %}
                {% endfor %}
            </ul>

        </article>
            