<!DOCTYPE html>

<html lang="en">

{% include head.html %}

    <body>
    
        <div id="canvas">
        
            {% include header_notes.html %}
          
            <article>
          
                <header>

                    <aside class="stamp">{{ page.date | {{ post.date | date:"%d %B %Y" }}, {{ page.location }}</aside>

                    <h1>{{ page.title }}</h1>

                </header>
          
                {{ content }}
          
<!--                 <nav id="links">
        
                    {% if page.previous.url %} 
                    <span id="prev"><a href="{{page.previous.url}}" title="Previous: 
        {{page.previous.title}}">&larr; Previous ({{page.previous.title}})</a></span>
                    {% endif %} 
                    
                    {% if page.next.url %} 
                    <span id="next"><a href="{{page.next.url}}" title="Next: 
        {{page.next.title}}">Next ({{page.next.title}}) &rarr; </a></span>
                    {% endif %}
            
                </nav> -->
          
            </article>
            
            {% include footer.html %}    
            
        </div> <!--/canvas-->
    
    	{% include scripts.html %}
    
    </body>
    
</html>