<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body>

<div id="canvas">

{% include header_home.html %}

<article>

<aside class="stamp">{{ page.date | date:"%Y-%m-%d" }}</aside>

<h1>{{ page.title }}</h1>

{% if page.description %}

<p class="description">{{ page.description }}</p>

{% endif %}

{{ content }}

{% if page.moreurl %}

<aside>You can see <a href="{{ page.moreurl }}">more photos</a> from this set on Flickr.</aside>

{% endif %}

</article>

{% include footer.html %}

</div> <!--/canvas-->

{% include scripts.html %}

</body>

</html>